@import "src/fixedCSS/fixedVar.scss";

button {
  cursor: pointer;
}

.active {
  border: 3px solid white !important;
}

.channel-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - #{$height-headers});
  width: 60px;
  padding-top: 12px;
  border-right: 1px solid $border-clr-input;

  .channel-btn-container {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .channel-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      border-radius: $br-secondary;
      border: 3px solid transparent;
      font-size: 0.8rem;
      font-weight: bold;
      color: #fff;
      background-color: $textEditor-icons-clr;
    }
  }

  .add-workspace-btn {
    margin-top: 12px;
    height: 40px;
    width: 40px;
  }
}
