<div class="thread-container">
  <mat-toolbar>
    <div class="icon-thread">
      <mat-icon style="color: rgb(0, 0, 0)">tag</mat-icon>
      <h2>Thread</h2>
    </div>
    <div class="close-icon">
      <mat-icon (click)="onCloseIconClick()">close</mat-icon>
    </div>
  </mat-toolbar>

  <div class="thread-msg-container " *ngIf="selectedMessage">
    <mat-card class="thread-card ">
      <mat-card-title class="thread-message-card">
        <img
          class="message-card-image"
          mat-card-image
          [src]="selectedMessage.userPhotoURL || '../../assets/img/blank-profile-img.png'"
          style="width: 50px;"
          alt="Photo"
        />
        <div class="name-date-style">
          <span class="author">{{ selectedMessage.userName }}</span>
          <span class="time-stamp">{{ selectedMessage.date }}</span>
        </div>
      </mat-card-title>
      <div class="thread-card">
        <mat-card-content class="post-container">
          <p>{{ selectedMessage.message }}</p>
          <br />
          <img *ngIf="selectedMessage.uploadedImgURL" [src]="selectedMessage.uploadedImgURL" alt="random-img" style="width: 200px;">
        </mat-card-content>
      </div>
    </mat-card>
  </div>


  <div class="editor-style">
    <div class="NgxEditor__Wrapper ngx-editor position-relative">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" [customMenuRef]="customMenu"></ngx-editor-menu>
      <ngx-editor [editor]="editor" [(ngModel)]="messageText" [disabled]="false" [placeholder]="'Respond to message...'"></ngx-editor>
      <button class="editor-btn" mat-icon-button (click)="sendMessageToThread()">
        <mat-icon>send</mat-icon>
      </button>
    </div>
    <input id="fileInput" type="file" style="display: none;" (change)="channelService.onFileChange($event)" />
    <ng-template #customMenu>
      <app-custom-menu [editor]="editor"></app-custom-menu>
    </ng-template>
  </div>
</div>


