.thread-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  // this will stack the children vertically
}

.icon-thread {
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    position: relative;
    top: 7px;
  }
}

.close-icon {
  position: relative;
  top: 5px;
}

mat-icon {
  cursor: pointer;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
