* {
  overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.messages-for-thread {
  scrollbar-width: auto;
  scrollbar-color: #8407a6 #ffffff;
  overflow-y: auto;
  height: 500px; /* Adjust this value to fit your layout */
}

/* Chrome, Edge, and Safari */
.messages-for-thread::-webkit-scrollbar {
  width: 12px;
}

.messages-for-thread::-webkit-scrollbar-track {
  background: #ffffff;
}

.messages-for-thread::-webkit-scrollbar-thumb {
  background-color: #8407a6;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.thread-toolbar {
  position: relative;
  bottom: 30px;
  right: 10px;
}

.thread-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  // this will stack the children vertically
  height: 100%;
  overflow: hidden;
}

.icon-thread {
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    position: relative;
    top: 7px;
  }
}

.close-icon {
  position: relative;
  top: 5px;
}

mat-icon {
  cursor: pointer;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: dotted;
}

.editor-style {
  padding: 5px;
  width: 100%;
  position: relative;
  top: 30px;
}

.thread-message-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.thread-msg-container {
  margin-top: 5px;
  margin-right: 5px;
  width: 100%;
}

.post-container {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  border-left: 0.3rem solid lightgrey;
}

.name-date-style {
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-stamp {
  padding-left: 10px;
  font-size: 0.8rem;
}
