.header-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: #2d082d;

    img {
        height: 30px;
        border-radius: 8px;
        position: absolute;
        right: 15px;
        cursor: pointer;
    }
}

.search-input {
    height: 30px;
    width: 500px;
    border-radius: 8px;
    border: unset;
    background-color: #1b002d;
    color: #808080;
    padding-left: 10px;

    &:focus {
        outline: none;
    }
}

