<mat-card class="message-card">
	<img
		class="message-card-image"
		mat-card-image
		alt="Photo"
		src="./../../assets/img/profilePictures/christian.png"
	/>

	<div class="message-card-main">
		<mat-card-header class="message-card-main-header">
			<mat-card-title class="message-card-main-header-title">
				<span class="author">Christian</span
				><span class="time-stamp">Tue, 09. May | 14.44</span></mat-card-title
			>
			<mat-icon class="chat-icon">chat</mat-icon>
		</mat-card-header>
		<mat-card-content class="post-container">
			<p class="post">
				Hallo, ich bin ein Probetext. Hier ist noch nichts komplett fertig, aber
				es wird ;). Mal sehen, wie das hier aussieht, wenn ich noch ein bisschen
				mehr Text schreibe. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
				Ich bin gespannt. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
			</p>
		</mat-card-content>
	</div>
</mat-card>

<mat-card class="message-card">
	<img
		class="message-card-image"
		mat-card-image
		alt="Photo"
		src="./../../assets/img/profilePictures/christian.png"
	/>

	<div class="message-card-main">
		<mat-card-header class="message-card-main-header">
			<mat-card-title class="message-card-main-header-title">
				<span class="author">Christian</span
				><span class="time-stamp">Tue, 09. May | 14.44</span></mat-card-title
			>
			<mat-icon class="chat-icon">chat</mat-icon>
		</mat-card-header>
		<mat-card-content class="post-container">
			<p class="post">
				Hallo, ich bin ein Probetext. Hier ist noch nichts komplett fertig, aber
				es wird ;). Mal sehen, wie das hier aussieht, wenn ich noch ein bisschen
				mehr Text schreibe. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
				Ich bin gespannt. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
			</p>
		</mat-card-content>
	</div>
</mat-card>

<mat-card class="message-card">
	<img
		class="message-card-image"
		mat-card-image
		alt="Photo"
		src="./../../assets/img/profilePictures/christian.png"
	/>

	<div class="message-card-main">
		<mat-card-header class="message-card-main-header">
			<mat-card-title class="message-card-main-header-title">
				<span class="author">Christian</span
				><span class="time-stamp">Tue, 09. May | 14.44</span></mat-card-title
			>
			<mat-icon class="chat-icon">chat</mat-icon>
		</mat-card-header>
		<mat-card-content class="post-container">
			<p class="post">
				Hallo, ich bin ein Probetext. Hier ist noch nichts komplett fertig, aber
				es wird ;). Mal sehen, wie das hier aussieht, wenn ich noch ein bisschen
				mehr Text schreibe. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
				Ich bin gespannt. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
			</p>
		</mat-card-content>
	</div>
</mat-card>

<mat-card class="message-card">
	<img
		class="message-card-image"
		mat-card-image
		alt="Photo"
		src="./../../assets/img/profilePictures/christian.png"
	/>

	<div class="message-card-main">
		<mat-card-header class="message-card-main-header">
			<mat-card-title class="message-card-main-header-title">
				<span class="author">Christian</span
				><span class="time-stamp">Tue, 09. May | 14.44</span></mat-card-title
			>
			<mat-icon class="chat-icon">chat</mat-icon>
		</mat-card-header>
		<mat-card-content class="post-container">
			<p class="post">
				Hallo, ich bin ein Probetext. Hier ist noch nichts komplett fertig, aber
				es wird ;). Mal sehen, wie das hier aussieht, wenn ich noch ein bisschen
				mehr Text schreibe. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
				Ich bin gespannt. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
			</p>
		</mat-card-content>
	</div>
</mat-card>

<mat-card class="message-card">
	<img
		class="message-card-image"
		mat-card-image
		alt="Photo"
		src="./../../assets/img/profilePictures/christian.png"
	/>

	<div class="message-card-main">
		<mat-card-header class="message-card-main-header">
			<mat-card-title class="message-card-main-header-title">
				<span class="author">Christian</span
				><span class="time-stamp">Tue, 09. May | 14.44</span></mat-card-title
			>
			<mat-icon class="chat-icon">chat</mat-icon>
		</mat-card-header>
		<mat-card-content class="post-container">
			<p class="post">
				Hallo, ich bin ein Probetext. Hier ist noch nichts komplett fertig, aber
				es wird ;). Mal sehen, wie das hier aussieht, wenn ich noch ein bisschen
				mehr Text schreibe. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
				Ich bin gespannt. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
			</p>
		</mat-card-content>
	</div>
</mat-card>

<mat-card class="message-card">
	<img
		class="message-card-image"
		mat-card-image
		alt="Photo"
		src="./../../assets/img/profilePictures/christian.png"
	/>

	<div class="message-card-main">
		<mat-card-header class="message-card-main-header">
			<mat-card-title class="message-card-main-header-title">
				<span class="author">Christian</span
				><span class="time-stamp">Tue, 09. May | 14.44</span></mat-card-title
			>
			<mat-icon class="chat-icon">chat</mat-icon>
		</mat-card-header>
		<mat-card-content class="post-container">
			<p class="post">
				Hallo, ich bin ein Probetext. Hier ist noch nichts komplett fertig, aber
				es wird ;). Mal sehen, wie das hier aussieht, wenn ich noch ein bisschen
				mehr Text schreibe. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
				Ich bin gespannt. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
			</p>
		</mat-card-content>
	</div>
</mat-card>

<mat-card class="message-card">
	<img
		class="message-card-image"
		mat-card-image
		alt="Photo"
		src="./../../assets/img/profilePictures/christian.png"
	/>

	<div class="message-card-main">
		<mat-card-header class="message-card-main-header">
			<mat-card-title class="message-card-main-header-title">
				<span class="author">Christian</span
				><span class="time-stamp">Tue, 09. May | 14.44</span></mat-card-title
			>
			<mat-icon class="chat-icon">chat</mat-icon>
		</mat-card-header>
		<mat-card-content class="post-container">
			<p class="post">
				Hallo, ich bin ein Probetext. Hier ist noch nichts komplett fertig, aber
				es wird ;). Mal sehen, wie das hier aussieht, wenn ich noch ein bisschen
				mehr Text schreibe. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
				Ich bin gespannt. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
			</p>
		</mat-card-content>
	</div>
</mat-card>
<mat-card class="message-card">
	<img
		class="message-card-image"
		mat-card-image
		alt="Photo"
		src="./../../assets/img/profilePictures/christian.png"
	/>

	<div class="message-card-main">
		<mat-card-header class="message-card-main-header">
			<mat-card-title class="message-card-main-header-title">
				<span class="author">Christian</span
				><span class="time-stamp">Tue, 09. May | 14.44</span></mat-card-title
			>
			<mat-icon class="chat-icon">chat</mat-icon>
		</mat-card-header>
		<mat-card-content class="post-container">
			<p class="post">
				Hallo, ich bin ein Probetext. Hier ist noch nichts komplett fertig, aber
				es wird ;). Mal sehen, wie das hier aussieht, wenn ich noch ein bisschen
				mehr Text schreibe. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
				Ich bin gespannt. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
			</p>
		</mat-card-content>
	</div>
</mat-card>
<mat-card class="message-card">
	<img
		class="message-card-image"
		mat-card-image
		alt="Photo"
		src="./../../assets/img/profilePictures/christian.png"
	/>

	<div class="message-card-main">
		<mat-card-header class="message-card-main-header">
			<mat-card-title class="message-card-main-header-title">
				<span class="author">Christian</span
				><span class="time-stamp">Tue, 09. May | 14.44</span></mat-card-title
			>
			<mat-icon class="chat-icon">chat</mat-icon>
		</mat-card-header>
		<mat-card-content class="post-container">
			<p class="post">
				Hallo, ich bin ein Probetext. Hier ist noch nichts komplett fertig, aber
				es wird ;). Mal sehen, wie das hier aussieht, wenn ich noch ein bisschen
				mehr Text schreibe. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
				Ich bin gespannt. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
			</p>
		</mat-card-content>
	</div>
</mat-card>
