<div class="start-screen-section">
  <div class="introduction-container">
    <div>
      <div class="logo-img">
        <img src="../../assets/img/slack-icon.svg" alt="slack-icon"/>
        <h1>Slack AI</h1>
      </div>

      <div class=" text-btn">
        <h2>Slack brings the team together wherever you are &  <br> if you need extra help AI is integrated into it aswell.</h2>
        <div class="btn-box">
          <button mat-raised-button (click)="openLogin()">Sign in to Slack-clone</button>
        </div>
      </div>
    </div>
    <div class="register-msg-box">
      <h3>Are you new to Slack-clone?</h3>
      <h3><a (click)="openSignUp()">Create a new Account</a></h3>
    </div>
  </div>

  <div class="">
    <img src="../../assets/img/slack-welcome-img.png" alt="slack-welcome"/>
  </div>
</div>