.dropdown {
    padding: 15px;
  }
  
  .dropdown-channels {
    cursor: pointer;
    display: flex;
    align-items: safe center;
    color: white;
  
    h1 {
      position: relative;
      top: 8px;
      margin-left: 10px;
      padding-left: 5px;
      padding-right: 5px;
  
      &:hover {
        background-color: rgba(222, 220, 220, 0.2);
        border-radius: 5px;
      }
    }
  }
  
  .arrow-right {
    transition: all 3ms ease-in-out;
    transform: scale(1.3);
  
    &:hover {
      background-color: rgba(222, 220, 220, 0.2);
      border-radius: 50%;
    }
  }
  
  .dropdown-menu {
    display: flex;
    flex-direction: column;
  }
  
  .tag-channel-name-pos {
    cursor: pointer;
    padding-left: 20px;
    color: white;
    display: flex;
    align-items: center;
  
    .mat-icon-style {
      &:hover {
        background-color: rgba(222, 220, 220, 0.2);
        border-radius: 50%;
      }
    }
  
    h2 {
      position: relative;
      top: 8px;
      margin-left: 10px;
      padding-left: 5px;
      padding-right: 5px;
  
      &:hover {
        background-color: rgba(222, 220, 220, 0.2);
        border-radius: 5px;
      }
    }
  }
  
  .turn {
    transition: all 3ms ease-in-out;
    transform: rotate(90deg);
  }
  
  