<div class="outer-container">
	<mat-toolbar class="header header-height border">
		<mat-icon style="color: white">tag</mat-icon>
		<h2>{{ channelName }}</h2>
	</mat-toolbar>

	<div class="dual-container">
		<div class="message-container">
			<div [class.d-none]="!(message.message?.toLowerCase().includes(channelService.searchValue.toLowerCase())) &&
			!((message.userName)?.displayName?.includes(channelService.searchValue.toLowerCase()))" class="msg-card-style" *ngFor="let message of messages | async">
				<mat-card class="message-card">
					<img
						class="message-card-image"
						mat-card-image
						alt="Photo"
						[src]="message.userPhotoURL || 'assets/img/blank-profile-img.png'"
					/>
					<div class="message-card-main">
						<mat-card-title class="message-card-main-header-title">
							<div class="name-date-style">
								<span class="author">{{ message.userName }}</span>
								<span class="time-stamp">{{ message.date }}</span>
							</div>
							<div class="edit-chat-delete-style">
								<mat-icon
									(click)="onChatIconClick(message.messageId)"
									[routerLink]="'thread/' + message.messageId"
									>chat</mat-icon
								>
								<mat-icon
									(click)="onDeleteSelectedMessage(message.messageId)"
									>delete</mat-icon
								>
							</div>
						</mat-card-title>

						<mat-card-content class="post-container">
							<p
								#post
								class="post"
								[innerHTML]="
									channelService.sanitizeHtmlWithImageSize(
										message.message
									)
								"
							></p>
              <img
								*ngIf="message.uploadedImgURL"
								src="{{ message.uploadedImgURL }}"
								alt="uploadedImg_name"
								style="width: 250px"
							/>
							<br />
						</mat-card-content>
					</div>
				</mat-card>
			</div>

			<div class="NgxEditor__Wrapper ngx-editor position-relative">
				<ngx-editor-menu
					[editor]="editor"
					[toolbar]="toolbar"
					[customMenuRef]="customMenu"
				></ngx-editor-menu>
				<ngx-editor
					[editor]="editor"
					[(ngModel)]="messageText"
					[disabled]="false"
					[placeholder]="'Insert your message...'"
				></ngx-editor>
				<button class="editor-btn" mat-icon-button (click)="sendMessage()">
					<mat-icon>send</mat-icon>
				</button>
			</div>
			<input
				id="fileInput"
				type="file"
				style="display: none"
				(change)="channelService.onFileChange($event)"
			/>
			<ng-template #customMenu>
				<app-custom-menu [editor]="editor"></app-custom-menu>
			</ng-template>
		</div>

		<div
			class="thread-container"
			(closeEvent)="showThreadContainer = false"
			*ngIf="showThreadContainer"
		>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
