@import 'src/fixedCSS/fixedVar.scss';

.outer-channel-container {
	position: relative;
	height: 100%;
	background-color: $bgClr-start;
	width: calc(100vw - 301px);

	.header {
		width: calc(100vw - 301px);
		background-color: $bgClr-start;
		border-right: unset;
		border-left: unset;

		h2 {
			margin: 0;
			color: white;
		}
	}

	.message-container {
		overflow-y: scroll;
		height: calc(100vh - 110px);
		background-color: $bgClr-start;
		border-right: unset;
		border-left: unset;
	}

	.editor {
		position: absolute;
		bottom: 30px;
		right: 30px;
		left: 30px;
	}
}
