<div class="outer-channel-container">
	<mat-toolbar class="header header-height border">
    <mat-icon style="color:white" >tag</mat-icon>
		 <h2> {{ channelName }} </h2>
	</mat-toolbar>

	<div class="message-container">
		<div class="msg-card-style">
			<mat-card class="message-card">
				<img class="message-card-image"
					mat-card-image
					alt="Photo"
			  [src]="channelService.photoURL || 'assets/img/blank-profile-img.png'"
			  />
				<div class="message-card-main">
					<mat-card-header class="message-card-main-header">
						<mat-card-title class="message-card-main-header-title">
							<span class="author">{{ channelService.name }}</span>
							<span class="time-stamp"></span>
						</mat-card-title>
						<!-- <mat-icon class="chat-icon">chat</mat-icon> -->
					</mat-card-header>
					<mat-card-content class="post-container">
						<p class="post">
							Hallo, ich bin ein Probetext. Hier ist noch nichts komplett fertig, aber es wird ;). Mal sehen, wie das hier aussieht, wenn ich noch ein bisschen
							mehr Text schreibe. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
							Ich bin gespannt. Ich bin gespannt. Ich bin gespannt. Ich bin gespannt.
						</p>
						<p>Antworten</p>
					</mat-card-content>
				</div>
			</mat-card>
		</div>		
	</div>

	<div>
		<!-- Create a formfield with the help of angular material that has a button where you can upload a image a textarea and another send button -->
		<div class="input-container">
			<!-- <input type="file" accept="image/*" #img style="display:none;"> -->
			<input type="file" hidden id="fileInput" (change)="channelService.onFileChange($event)" style="display:none;"/>
			<button mat-icon-button  (click)="channelService.onButtonClick()">
				<mat-icon>add_a_photo</mat-icon>
			</button>
			<mat-form-field class="input-field">
				<textarea matInput [(ngModel)]="messageText" placeholder="Insert your message..."></textarea>
			</mat-form-field>
			<button mat-icon-button (click)="sendMessage()">
				<mat-icon>send</mat-icon>
			</button>
		</div>
	</div>
</div>
