<div class="outer-container">
	<mat-toolbar class="header header-height border">
		<mat-icon style="color: white">tag</mat-icon>
		<h2>{{ channelName }}</h2>
	</mat-toolbar>

	<div class="message-container">
		<div class="msg-card-style" *ngFor="let message of messages | async">
			<mat-card class="message-card">
				<img
					class="message-card-image"
					mat-card-image
					alt="Photo"
					[src]="message.userPhotoURL || 'assets/img/blank-profile-img.png'"
				/>
				<div class="message-card-main">
					<mat-card-header class="message-card-main-header ">
						<mat-card-title class="message-card-main-header-title">
							<div>
								<span class="author">{{ message.userName }}</span>
								<span class="time-stamp">{{ message.date }}</span>
							</div>
							<div>
								<mat-icon (click)="onDeleteSelectedMessage()">delete</mat-icon>
							</div>
						</mat-card-title>
					</mat-card-header>
					<mat-card-content class="post-container">
						<p class="post">{{ message.message }}</p>
						<img
							*ngIf="message.uploadedImgURL"
							src="{{ message.uploadedImgURL }}"
							alt="uploadedImg_name"
							style="width: 250px"
						/>
						<p>Antworten</p>
					</mat-card-content>
				</div>
			</mat-card>
		</div>
	</div>

	<div>
		<div class="input-container">
			<input
				type="file"
				hidden
				id="fileInput"
				(change)="channelService.onFileChange($event)"
				style="display: none"
			/>
			<button mat-icon-button (click)="channelService.onButtonClick()">
				<mat-icon>add_a_photo</mat-icon>
			</button>
			<mat-form-field class="input-field">
				<textarea
					matInput
					[(ngModel)]="messageText"
					placeholder="Insert your message..."
				></textarea>
			</mat-form-field>
			<button mat-icon-button (click)="sendMessage()">
				<mat-icon>send</mat-icon>
			</button>
		</div>
	</div>
</div>
