@import "src/fixedCSS/fixedVar.scss";

// * {
//   overflow: hidden;
// }

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8407a6 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #8407a6;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.outer-container {
  position: relative;
  background-color: $bgClr-thirdary;
  width: calc(100vw - $side-menu-width);
  height: 100%;

  .header {
    width: 100%;
    background-color: $bgClr-start;
    border-right: unset;
    border-left: unset;

    h2 {
      margin: 0;
      color: white;
    }
  }
}

.dual-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: stretch; /* change from center to stretch to make sure containers fill the vertical space */
}

.thread-container {
  width: 50%;
}

.message-container {
  padding: 5px 5px;
  overflow-y: scroll;
  height: calc(100vh - 260px);
  background-color: $bgClr-start;
  background-color: white;
  width: calc(100vw - $side-menu-width);
}

.msg-card-style {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.message-card-main {
  width: 100%;
}

mat-card-header {
  width: 100%;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.message-card {
  display: flex !important;
  flex-direction: row !important;
  padding: 18px;
  background-color: #D3D3D3;

  * {
    color: black;
  }

  &-image {
    width: 50px !important;
    height: 50px;
    border-radius: 10px !important;
    background-color: white;
    object-fit: cover;
    position: center;
  }

  &-main {
    min-width: 280px;
    max-width: 1000px;

    &-header {
      padding-top: unset;
      width: 100%;

      &-title {
        line-height: unset;
        padding-right: 12px;

        .author {
          font-size: 1rem;
          padding-right: 12px;
        }

        .time-stamp {
          font-size: 0.8rem;
        }
      }

      .chat-icon {
        cursor: pointer;
      }
    }

    .post-container {
      width: 100% !important;
      .post {
        min-width: 280px;
        max-width: 100%;
        overflow-wrap: break-word;
        margin: 0 !important;

        img {
          height: 200px !important;
        }
      }
    }
  }
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bgClr-start;
  padding: 10px;
  width: calc(100vw - $side-menu-width);
  height: 200px;
  position: absolute;
  bottom: 0;

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button {
    color: white;
  }

  .input-field {
    width: 100%;

    textarea {
      min-height: 100px;
    }
  }
}

.name-date-style {
  height: 40px;
  padding-left: 15px;
  padding-top: 5px;
  width: 280px;
}

.message-card-main-header-title {
  width: 100%;
}

.edit-chat-delete-style {
  width: 120px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;

    &:hover {
      border-radius: 50%;
      background-color: lightgrey;
    }
  }
}

.messages-editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-editor {
  margin: 5px;
  position: relative;
  // bottom: 0;
  width: 80%;
  right: 0px;
  // left: 5px;

  .editor-btn {

  }
}

@media(max-width: 1100px) {
  .thread-container {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffff;
  }
}

@media(max-width: 600px) {
  .outer-container {
    width: 100vw;
  }

  .message-container {
    width: 100%;
  }


}

@media(max-width: 400px) {
  .message-card {
    .time-stamp {
      font-size: 0.6rem;
    }
  }
}

@media(max-width: 320px) and (max-height: 480px) {
  .edit-chat-delete-style {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
  }

  .message-container {
    overflow-x: hidden;
  }
}
