@import 'src/fixedCSS/fixedVar.scss';

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #8407a6 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
}

*::-webkit-scrollbar-thumb {
	background-color: #8407a6;
	border-radius: 10px;
	border: 3px solid #ffffff;
}

.outer-container {
	position: relative;
	// height: 100%;
	background-color: $bgClr-thirdary;
	width: calc(100vw - $side-menu-width);
	height: 100%;

	.header {
		width: 100%;
		background-color: $bgClr-start;
		border-right: unset;
		border-left: unset;

		h2 {
			margin: 0;
			color: white;
		}
	}

	.message-container {
		overflow-y: scroll;
		height: calc(100vh - 315px);
		background-color: $bgClr-start;
		background-color: white;
		width: calc(100vw - $side-menu-width);
	}
}

.msg-card-style {
	margin: 5px;
	display: flex;
	flex-direction: column;
	// gap: 5px;
}

.message-card-main {
	width: 100%;
}

mat-card-title {
	border-style: dotted;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

mat-icon {
	cursor: pointer;
}

.message-card {
	display: flex !important;
	flex-direction: row !important;
	padding: 18px;
	background-color: rgb(209, 116, 116);

	* {
		color: black;
	}

	&-image {
		width: 50px !important;
		height: 50px;
		border-radius: 10px !important;
		background-color: white;
		object-fit: cover;
		position: center;
	}

	&-main {
		// min-width: 280px;
		// max-width: 1000px;

		&-header {
			padding-top: unset;
			width: 100%;

			&-title {
				line-height: unset;
				padding-right: 12px;

				.author {
					font-size: 1rem;
					padding-right: 12px;
				}

				.time-stamp {
					font-size: 0.8rem;
				}
			}

			.chat-icon {
				cursor: pointer;
			}
		}
		.post-container {
			width: 100% !important;
			.post {
				min-width: 280px;
				max-width: 100%;
				overflow-wrap: break-word;
				margin: 0 !important;
			}
		}
	}
}

.input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $bgClr-start;
	padding: 10px;
	width: calc(100vw - $side-menu-width);
	height: 200px;
	position: absolute;
	bottom: 0;

	.img-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	button {
		color: white;
	}

	.input-field {
		width: 100%;

		textarea {
			min-height: 100px;
		}
	}
}
