<div class="dropdown">
	<div class="dropdown-channels" (click)="toggleChannels()">
		<mat-icon class="arrow-right" [class.turn]="openMenu">arrow_right</mat-icon>
		<h1>Channels</h1>
	</div>
	<div class="dropdown-menu" [class.d-none]="!openMenu">
		<div class="tag-channel-name-pos" *ngFor="let chann of channel">
			<div class="icon-channel-name">
        <mat-icon class="mat-icon-style">tag</mat-icon>
			  <h2 routerLink="channel/{{ chann.channelId }}" (click)="saveCurrentSelectedChannel(chann.channelId)">{{ chann.channelName }}</h2>
      </div>
			<div>
        <mat-icon class="mat-icon-style" (click)="onDeleteChannel(chann.channelId)">delete</mat-icon>
      </div>
		</div>

		<div class="add-channel-icon" (click)="openDialogNewChannel()">
			<mat-icon class="mat-icon-style">add</mat-icon>
			<h2>Add channel</h2>
		</div>
	</div>
</div>
