<div class="dropdown">
  <button
    (click)="toggleChannels()"
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <mat-icon class="arrow-right" [class.turn]="openMenu">arrow_right</mat-icon>
    Channels
  </button>
  <ul class="dropdown-menu" [class.d-none]="!openMenu">
    <li>
      <button class="dropdown-item" type="button" title="JavaScript">
        &#35; JavaScript
      </button>
    </li>
    <li>
      <button class="dropdown-item" type="button" title="Angular">
        &#35; Angular
      </button>
    </li>
    <li>
      <button class="dropdown-item" type="button" title="Allgemein">
        &#35; Allgemein
      </button>
    </li>
    <li (click)="openDialogNewChannel()" class="align-center">
      <button  class="add-channel-btn" mat-mini-fab color="primary">
        <mat-icon>add</mat-icon> 
      </button>
      <span>New channel</span>
    </li>

  </ul>

</div>
