.dropdown-channels {
  display: flex;
  align-items: safe center;
  
}

.arrow-right {
  transition: all 3ms ease-in-out;

  &:hover {
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
  }
}

.dropdown {
  padding: 0 12px;


  .dropdown-menu {
    padding-left: 8px;
    display: block;

    li {
      list-style-type: none !important;
      padding-top: 12px;
      font-family: "Roboto";

      span {
        color: #ffff;
        cursor: pointer;
      }
    }
  }
}

.turn {
  transition: all 3ms ease-in-out;
  transform: rotate(90deg);
}

// .add-channel-btn {
//   height: 25px;
//   width: 25px !important;
//   color: #ffff;
//   cursor: pointer;
// }
