<div class="dropdown ">
  <div class="dropdown-channels " (click)="toggleChannels()">
    <mat-icon class="arrow-right" [class.turn]="openMenu">arrow_right</mat-icon>
    <h1>Channels</h1>
  </div>
  <div class="dropdown-menu " [class.d-none]="!openMenu">
    <div class="tag-channel-name-pos" >
      <mat-icon class="mat-icon-style">tag</mat-icon>
      <h2>General</h2>
    </div>
    <div class="tag-channel-name-pos"  (click)="openDialogNewChannel()">
      <mat-icon class="mat-icon-style">add</mat-icon>
      <h2>Add channel</h2>
    </div>
  </div>

</div>


<!-- (click)="openDialogNewChannel()" -->
