.dropdown {
  padding: 0 12px;

  button {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    border: none;
    width: 100%;

    .arrow-right {
      transition: all 3ms ease-in-out;
    }
  }

  .dropdown-menu {
    padding-left: 8px;
    display: block;

    li {
      list-style-type: none !important;
      padding-top: 12px;
      font-family: "Roboto";
    }
  }
}

.turn {
  transition: all 3ms ease-in-out;
  transform: rotate(90deg);
}
