<div class="dropdown">
  <button
    (click)="toggleChannels()"
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <mat-icon class="arrow-right">arrow_right</mat-icon>
    Channels
  </button>
  <ul class="dropdown-menu">
    <li>
      <button class="dropdown-item" type="button" title="JavaScript">
        &#35; JavaScript
      </button>
    </li>
    <li>
      <button class="dropdown-item" type="button" title="Angular">
        &#35; Angular
      </button>
    </li>
    <li>
      <button class="dropdown-item" type="button" title="Allgemein">
        &#35; Allgmein
      </button>
    </li>
  </ul>
</div>
