@import 'src/fixedCSS/fixedVar.scss';

.input-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $bgClr-start;
	padding: 10px;
	width: calc(100vw - $side-menu-width);
	height: 200px;
	position: absolute;
	bottom: 0;
}

mat-icon {
  color: white;
}

:host ::ng-deep .my-editor {
  width: 90%;
}

.my-editor .ck.ck-content.ck-editor__editable {
  height: 120px;
  overflow-y: auto;
}

:host ::ng-deep .my-editor .ck.ck-content.ck-editor__editable {
  height: 120px;
  overflow-y: auto;
}


