* {
  margin: 0;
  padding: 0;
}

:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

mat-form-field {
  width: 800px;
  padding-left: 10px;
  padding-right: 10px;
}

mat-icon {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

mat-card {
  margin-top: 30px;
  width: 500px;
  height: 50%;
  padding: 10px;
  margin-left: 10px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
}

.weather-img {
  position: relative;
  top: -30px;
}

mat-card-content {
  position: relative;
  top: -30px;
}

@media (max-width: 1060px) {
  mat-form-field,
  mat-card {
    width: 500px;
  }
}

@media (max-width: 800px) {
  mat-form-field,
  mat-card {
    width: 400px;
  }
}

@media (max-width: 650px) {
  mat-form-field,
  mat-card {
    width: 300px;
  }
}

@media (max-width: 320px) {
  mat-card {
    margin-top: unset;
    align-items: center;
  }

  mat-card-header {
    position: relative;
    right: 80px;
  }

  img {
    width: 150px;
    height: 150px;
  }
}
