$bgClr-start: #4a154b;
$bgClr-primary: #1a1d21;
$bgClr-secondary: #000;
$bgClr-thirdary: #fff;
$bgClr-input: #333333;
$bgClr-newChat: #222529;
$bgClr-chatList: #1a2933;
$bgClr-highlight: #453f28;
$bgClr-hover: #2a2d30;
$bgClr-hover-channels: #3a2d3b;

//border-color
$border-clr: #313438;
$border-clr-input: #464646;
$border-clr-texteditor: #818385;

//text-color
$txt-clr-primary: #b7b8b9;
$txt-clr-secondary: #fff;
$txt-clr-thirdary: #000;
$txt-clr-h1: #fff;
$txt-clr-h2: #d1d2d3;
$txt-clr-link: #1d9bd1;
$txt-clr-new: #de4e2b;
$txt-clr-delete: #df205a;
$txt-clr-texteditor-blur: #444;

//sizes
$height-headers: 50px;

// borders
$border-primary: 1px solid $border-clr;
$border-secondary: 1px solid $border-clr-input;

//border-radius
$br-primary: 5px;
$br-secondary: 10px;

//status
$online: #39e500;
$absent: #f4f4f4;

//gap
$gap-primary: 5px;
$gap-comment: 25px;

//texteditor
$bgClr-txtEditor: #222529;
$textEditor-icons-clr: #4c4e51;

//button
$sign-in-btn-clr: #007a6a;
$btn-clr-green: #007a5a;

//transition
$transition-hover: all 60ms ease-in;

//side-menu
$side-menu-width: 255px;
