.form-container {
  margin: 30px;
  text-align: center;
}

span {
  color: #000;
}

@media (max-width: 580px) {
  .form-container {
    width: 350px;
  }
}

@media (max-width: 530px) {
  .form-container {
    width: 300px;
  }
}

@media (max-width: 450px) {
  .form-container {
    width: 250px;
  }
}

@media (max-width: 390px) {
  .form-container {
    width: 200px;
  }
}
@media (max-width: 325px) {
  .form-container {
    width: 150px;
  }
}
