<div class="flex-column align-center">
  <h1 mat-dialog-title>Reset your password</h1>
  <div class="email-container" mat-dialog-content>
    <span class="mb-12">Please enter your email address to reset your password</span>
    <mat-form-field appearance="fill">
      <mat-label>E-mail address</mat-label>
      <input #passwordResetEmail matInput required/>
    </mat-form-field>
  </div>
  <div class="flex-column" mat-dialog-actions>
    <button mat-button (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset password</button>
    <button mat-button cdkFocusInitial (click)="openLogin()">Login</button>
  </div>
</div>
