.msg-card-style {
	margin: 5px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.message-card {
	display: flex !important;
	flex-direction: row !important;
	padding: 18px;
	background-color: rgb(209, 116, 116);

	* {
		color: black;
	}

	&-image {
		width: 50px;
		height: 50px;
		border-radius: 10px !important;
		background-color: white;
	}

	&-main {
		min-width: 280px;
		max-width: 1000px;

		&-header {
			padding-top: unset;
			width: 100%;

			&-title {
				line-height: unset;
				padding-right: 12px;

				.author {
					font-size: 1rem;
					padding-right: 12px;
				}

				.time-stamp {
					font-size: 0.8rem;
				}
			}

			.chat-icon {
				cursor: pointer;
			}
		}
		.post-container {
			width: 100% !important;
			.post {
				min-width: 280px;
				max-width: 1000px;
			}
		}
	}
}
