@import 'src/fixedCSS/fixedVar.scss';
@import '~quill/dist/quill.snow.css';
/* @import '~quill/dist/quill.bubble.css'; */

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: 'Roboto', 'Helvetica Neue';
}

.bstyle {
	border-style: dotted;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', 'Helvetica Neue';
	box-sizing: border-box !important;
}

.d-none {
	display: none !important;
}

.d-flex {
	display: flex;
}

.align-center {
	display: flex;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.ml-12 {
	margin-left: 12px;
}

.mr-12 {
	margin-right: 12px;
}

.mb-12 {
	margin-bottom: 12px;
}

button {
	cursor: pointer;
}

.text-center {
	text-align: center;
}

.header-height {
	height: 65px !important;
}

.border {
	border: 1px solid $border-clr-texteditor;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: 'Roboto', 'Helvetica Neue';
	overflow-x: hidden;
}
