<div class="dropdown">
    <button (click)="toggleDirectMessages()" class="btn btn-secondary dropdown-toggle" type="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        <mat-icon class="arrow-right" [class.turn]="openMenu">arrow_right</mat-icon>
        Direct Messages
    </button>
    <ul class="dropdown-menu" [class.d-none]="!openMenu">
        <li>
            <button class="dropdown-item" type="button" title="JavaScript" routerLink="/home/sendMessage">
                <div class="icon-placeholder"></div><span>Max Mustermann</span>
            </button>
        </li>
        <li>
            <button class="dropdown-item" type="button" title="JavaScript" routerLink="/home/sendMessage">
                <div class="icon-placeholder"></div><span>John Doe</span>
            </button>
        </li>
        <li>
            <button class="dropdown-item" type="button" title="JavaScript" routerLink="/home/sendMessage">
                <div class="icon-placeholder"></div><span>Mister Universe</span>
            </button>
        </li>
    </ul>
</div>