@import "src/fixedCSS/fixedVar.scss";

.channel-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  padding-top: 12px;
  gap: 12px;

  .channel_header {
    display: flex;
    justify-content: space-evenly;

    h2 {
      color: $txt-clr-h2;
      text-align: center;
      // line-height: unset;
    }
  }

  a {
    text-decoration: none;
    color: $txt-clr-primary;
    font-size: 0.9rem;
    padding: 0 8px;

    .option-container {
      display: flex;
      align-items: center;
      padding: 6px;
      gap: 8px;

      &:hover {
        color: $txt-clr-secondary;
        background-color: $bgClr-hover-channels;
        border-radius: $br-primary;
      }

      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }
  }
}

.new-chat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;

  mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
  }
}
