@import "src/fixedCSS/fixedVar.scss";

.channel-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 200px;
  padding-top: 12px;
  gap: 12px;

  .channel_header {
    h2 {
      color: $txt-clr-h2;
      text-align: center;
      line-height: unset;
    }
  }

  a {
    text-decoration: none;
    color: $txt-clr-primary;
    font-size: 0.9rem;
    padding: 0 8px;

    .option-container {
      display: flex;
      align-items: center;
      padding: 6px;
      gap: 8px;

      &:hover {
        color: $txt-clr-secondary;
        background-color: $bgClr-hover-channels;
        border-radius: $br-primary;
      }

      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }
  }
}
