@import "src/fixedCSS/fixedVar.scss";

* {
  overflow: hidden;
}

.channel-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100vh;
  padding-top: 15px;
  gap: 15px;
}

.channel_header {
  display: flex;
  justify-content: space-evenly;

  h2 {
    color: $txt-clr-h2;
  }
}

.new-chat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;

  mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
  }
}
