<div class="channel-container">
  <div class="channel_header">
    <h2>Developer Akademie</h2>
    <div class="new-chat-container">
      <mat-icon class="material-symbols-outlined" routerLink="/home/sendMessage">edit_square</mat-icon>
    </div>
  </div>
  <hr>
  <a routerLink="home/threads">
    <div class="option-container">
      <img src="./../../../assets/icons/threads.png" alt="" />
      <span class="option-title">Threads</span>
    </div>
  </a>

  <a routerLink="home/users">
    <div class="option-container">
      <img src="./../../../assets/icons/user.png" alt="" />
      <span class="option-title">Users</span>
    </div>
  </a>

  <a routerLink="">
    <div class="option-container">
      <img src="./../../../assets/icons/later.png" alt="" />
      <span class="option-title">Later</span>
    </div>
  </a>

  <a routerLink="">
    <div class="option-container">
      <img src="./../../../assets/icons/direct-message.png" alt="" />
      <span class="option-title">Direct Message</span>
    </div>
  </a>

  <a routerLink="">
    <div class="option-container">
      <img src="./../../../assets/icons/drafts.png" alt="" />
      <span class="option-title">Drafts & sent</span>
    </div>
  </a>
</div>
