<mat-drawer-container class="side-menu border" autosize>
  <mat-drawer
    #drawer
    class="side-menu side-menu-responsive border min-width-255"
    [opened]="true"
    mode="side"
  >
    <app-channels></app-channels>
    <app-direct-messages></app-direct-messages>
    <app-further-services></app-further-services>
  </mat-drawer>

  <button class="menu-btn" type="button" mat-button (click)="drawer.toggle()">
    <mat-icon *ngIf="!drawer.opened"> menu </mat-icon>
    <mat-icon *ngIf="drawer.opened"> close </mat-icon>
  </button>
</mat-drawer-container>
