* {
	box-sizing: border-box !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 0;
}

.side-menu {
	display: flex;
  flex-direction: column;
	background-color: #4a154b;
	width: fit-content;
	height: calc(100vh - 45px);
	border-left: unset !important;
	border-bottom: unset !important;
	overflow-y: auto;
}
