* {
  box-sizing: border-box !important;
}

.side-menu {
  display: flex;
  flex-direction: column;
  background-color: #4a154b;
  width: 100%;
  max-width: 255px;
  height: calc(100vh - 45px);
  border-left: unset !important;
  border-bottom: unset !important;
  overflow-y: hidden;
}

.min-width-255 {
  min-width: 255px;
}

.menu-btn {
  position: fixed;
  top: 5px;
  left: 0;
  display: none;
  justify-content: flex-start;

  mat-icon {
    color: #ffff;
  }
}

.side-menu {
  scrollbar-width: auto;
  scrollbar-color: #8407a6 #ffffff;
}

/* Chrome, Edge, and Safari */
.side-menu::-webkit-scrollbar {
  width: 12px;
}

.side-menu::-webkit-scrollbar-track {
  background: #ffffff;
}

.side-menu::-webkit-scrollbar-thumb {
  background-color: #8407a6;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

@media (max-width: 1300px) {
  .side-menu-responsive {
    position: fixed;
    left: 0px;
    top: 45px;
  }
}

@media(max-width: 600px) {
  .side-menu {
    max-width: unset;
  }

  .menu-btn {
    display: flex;
  }
}