* {
  box-sizing: border-box !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0;
}

.side-menu {
  display: flex;
  flex-direction: column;
  background-color: #4a154b;
  width: 100%;
  max-width: 255px;
  height: calc(100vh - 45px);
  border-left: unset !important;
  border-bottom: unset !important;
  overflow-y: auto;
}

.min-width-255 {
  min-width: 255px;
}

.menu-btn {
  position: fixed;
  top: 5px;
  left: 0;
  display: flex;
  justify-content: flex-start;

  mat-icon {
    color: #ffff;
  }
}

@media (max-width: 850px) {
  .side-menu-responsive {
    position: fixed;
    left: 0px;
    top: 45px;
  }
}