<div class="dialog-user-info">
  <div class="display-flex" mat-dialog-content>
    <div class="align-center">
      <div
        *ngIf="authService.userData$ | async as user"
        class="flex-column gap"
      >
        <span class="font-500">{{ user.displayName || "Guest" }}</span>
        <div class="status-selector" (click)="toggleDropdown()">
          <div class="status-dot" [ngClass]="selectedStatus"></div>
          <span>{{ selectedStatus }}</span>
          <div class="dropdown" [class.open]="dropdownOpen">
            <div class="option" (click)="selectStatus('Online')">
              <div class="status-dot Online"></div>
              <span>Online</span>
            </div>
            <div class="option" (click)="selectStatus('Busy')">
              <div class="status-dot Busy"></div>
              <span>Busy</span>
            </div>
            <div class="option" (click)="selectStatus('Invisible')">
              <div class="status-dot Invisible"></div>
              <span>Invisible</span>
            </div>
          </div>
        </div>
        
        
        <div id="uploadImgRemove" [class.d-none]="!onDisplay">
          <input
            type="file"
            (change)="uploadFile($event, uid)"
            name="uploadfile"
            id="img"
            style="display: none"
          />
          <label for="img">Choose image</label>
        </div>
      </div>
    </div>
  </div>
  <div class="logout-container" mat-dialog-actions>
    <button
      class="mr-12 mb-12"
      mat-button
      cdkFocusInitial
      (click)="authService.SignOut(); this.dialogRef.close()"
    >
      Logout
    </button>
  </div>
</div>
