<div class="dialog-user-info">
  <div class="display-flex" mat-dialog-content>
    <div class="align-center">
      <img class="ml-12" src="./assets/img/blank-profile-img.png" />
      <div  class="flex-column">
        <span class="font-500">User</span>
        <div class="align-center">
          <div class="online-dot"></div>
          <span>Active</span>
        </div>
      </div>
    </div>
  </div>
  <div class="logout-container" mat-dialog-actions>
    <button class="mr-12 mb-12" mat-button cdkFocusInitial (click)="authService.SignOut()">Logout</button>
  </div>
</div>
