.dialog-user-info {
  background-color: #4e154e;
  
  span {
    color: #ffff;
  }

  img {
    height: 30px;
    margin-right: 12px;
  }
}

.logout-container {
  display: flex;
  justify-content: flex-end;

  button {
    background-color: #3b123b;
    color: #ffff;
    border: unset;
    height: 35px;
    width: 70px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: #310231;
    }

    &:focus {
      outline: none;
    }
  }
}

.font-500 {
  font-weight: 500;
}

.online-dot {
  background-color: #39e500;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  margin-right: 5px;
}