.dialog-user-info {
    background-color: #513386;

    img {
        height: 30px;
        margin-right: 12px;
    }
}

.logout-container {
    display: flex;
    justify-content: flex-end;

    button {
        &:hover {
            background-color: #3f2075;
        }
    }
}

.align-center {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}