<h1>Create new Workspace</h1>
<form class="example-form">
    <mat-form-field>
        <mat-label>Workspace name</mat-label>
        <input matInput placeholder="Banking Talk...">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Short description of the Workspace</mat-label>
        <textarea matInput placeholder="We control the money..."></textarea>
    </mat-form-field>
</form>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close>Create</button>
</div>
